{% extends 'core.html' %}

{% block core_body %}
<div class="container" style="display: flex; flex-grow: 1;">
    <div class="row" style="display: flex; justify-content: center;">
        <form>
            <input type="text" id="cityInput" class="textbox" placeholder="Check your city's weather. Ex; London">
            <button class="mat-button mat-primary-button" type="button" id="checkWeatherButton">
                Check Weather
            </button>
        </form>
    </div>
    <div class="row">
        <div class="card-container" id="weather-container">
            <!-- api response will create elements inside here -->
        </div>
    </div>
    <div class="row bg-dark" style="padding: 10px;">
        <ul>
            <li>
                <h3>How to use it ?</h3>
            </li>
            <li>1. When you refresh the page, the data comes from Django API</li>
            <li>
                2. When you enter your city name and then click the button it fetches the data from external API 
                <br>and then checks it exists in our database or not. If not exists django creates a new record
                <br>with api response. If exists, django updates existing record.
            </li>
        </ul>
    </div>
</div>

<script>
    //HTML elements
    const weatherContainer = document.getElementById('weather-container');
    const cityInput = document.getElementById('cityInput');
    const checkWeatherButton = document.getElementById('checkWeatherButton');

    //Event listener for the button click
    checkWeatherButton.addEventListener('click',()=>{
        const city = cityInput.value;
        const queryParams = {city};

        //Call the trigger function with the query parameters
        trigger(queryParams);

    });

    function trigger(queryParams = {}){
        //Convert query parameters to URL search parameters
        const urlSearchParams = new URLSearchParams(queryParams);
        const queryString = urlSearchParams.toString();

        //Fetch data from the API with query parameters
        fetch(`/api/trigger/?${queryString}`)
            .then(response => response.json())
            .then(data => {
                if(data){
                    console.log("Triggered API response:",data);
                    createElements(data["data"],weatherContainer);
                }
            })
            .catch(error => {
                console.log('error triggering:',error);
            });
    }


    function createElements(data,weatherContainer){

        weatherContainer.innerHTML = '';

        
        data.forEach(weather =>{


            const cardContainer = document.createElement('div');
            cardContainer.classList.add('card-container');

            const materialCard = document.createElement('div');
            materialCard.classList.add('material-card');

            const weatherIcon = document.createElement('img');
            weatherIcon.src = `${weather.icon}`;
            weatherIcon.alt = 'Image';

            const temperature = document.createElement('span');
            temperature.classList.add('temperature');
            temperature.textContent = `${weather.temperature} C`
        
            const city = document.createElement('span');
            city.classList.add('city');
            city.textContent = `${weather.city}`;

            const description = document.createElement('span');
            description.classList.add('description');
            description.textContent = weather.description;

            const updatedDate = document.createElement('small');
            updatedDate.classList.add('updated_date');
            updatedDate.textContent = weather.updated_date;

            //Append the created elements
            materialCard.appendChild(weatherIcon);
            materialCard.appendChild(temperature);
            materialCard.appendChild(city);
            materialCard.appendChild(description);
            materialCard.appendChild(updatedDate);

            cardContainer.appendChild(materialCard);
            weatherContainer.appendChild(cardContainer);

        
        });
    }

    function fetchDataFromAPI(){
        //Fetch data from the API with query parameters
        fetch(`/api/data/`)
            .then(response => response.json())
            .then(data =>{
                if(data){
                    console.log("API response for all records:",data);
                    createElements(data,weatherContainer);
                }
            })
            .catch(error =>{
                console.log(`Error fetching api data:`,error);
            })
    }


    //Call all records initially
    fetchDataFromAPI();
</script>

{% endblock core_body %}
